.Wrapper{
    max-width: 90%;
    margin: auto;
}

.rowWrapper{
    display: flex;
}


.btn{
    margin: auto;
    margin-right: 30px;
}

.clr{
    margin-left: 466px;
    margin-top: 31px;
}

.vis {
    margin-top: 30px;
}